:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

#header {
  background-color: #e1dffe;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0px;
  border-radius: 15px;
}

.title {
  margin: 0px 0px 0px 30px;
}

.title h1 {
  padding: 35px 0px 0px 0px;
  margin: 0 0 15px 0;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 0 auto;
}

h1 .habilities {
  margin: 0 auto;
  padding: 30px 0 px;
}

#selfie {
  display: flex;
  justify-content: right;
  box-shadow: 2px 2px 4px #afc1d9cd;
  border-radius: 10px;
  width: 350px;
}

.skills-title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

#logos-box {
  display: flex;
  justify-content: space-evenly;
}

.github-logo {
  padding: 40px 0;
}

.github-logo:hover {
  width: 95px;
  transition: all 100ms ease;
}

.mini-logo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.projects-title {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 0 auto;
}

.karate,
.weather,
.salmorejo {
  max-width: 350px;
  margin: 10px auto;
}

.primary-link {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #8f89fc;
  box-shadow: var(--box-shadow);
  color: white;
}

.paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  margin: 30px 0;
}

p {
  background: #e1dffe;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.contact-title {
  display: flex;
  justify-content: center;
  margin: 60px 0 30px 0;
  padding: 0 auto;
}

.email-me-logo,
.whatsapp-logo,
.linkedin-logo {
  width: 60px;
  margin: 15px 0 50px 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#selfie-about {
  justify-content: center;
  margin: 20px 0px 30px 0px;
  box-shadow: 2px 2px 4px #afc1d9cd;
  border-radius: 10px;
  width: 500px;
}

@media (max-width: 576px) {
  #header {
    position: relative;
    padding: 20px 0px;
    border-radius: 70px;
  }

  .title {
    margin: 0 auto;
  }

  .title h1 {
    padding: 10px 0px 0px 0px;
    font-size: 20px;
    line-height: 0.5;
  }

  .title h5 {
    font-size: 12px;
  }

  #selfie {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #afc1d9cd;
    max-width: 300px;
  }

  ./*karate,
  .weather,
  .salmorejo {
    display: none;
  }*/

  p {
    font-size: 17px;
  }

  .subtitle {
    font-family: "Playfair Display", serif;
    font-size: 25px;
  }

  a .primary-link {
    text-align: center;
  }

  #selfie-about {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #afc1d9cd;
    max-width: 300px;
  }
}
